@import url("reset.css");
html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper header {
  width: 100%;
  height: 4rem;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 4rem;
  border-bottom: 1px solid #bfbfbf;
}
.wrapper header .left {
  width: 20px;
  height: auto;
  background: none;
  text-align: center;
}
.wrapper header .left img {
  width: 10px;
  height: auto;
  background: none;
}
.wrapper header .right {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 15px;
}
.wrapper section {
  -webkit-box-flex: 1;
}
.wrapper section .serial {
  margin-top: 5px;
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 0 5px;
  box-sizing: border-box;
}
.wrapper section .serial p {
  padding: 5px;
  line-height: 20px;
}
.wrapper section .serial p span {
  display: inline-block;
  color: #FF7F1D;
}
.wrapper section .style {
  padding-left: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  background: #ffffff;
  margin-top: 8px;
}
.wrapper section .style p {
  line-height: 3rem;
}
.wrapper section .alipay {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  margin-top: 2px;
  line-height: 4rem;
  padding: 0 10px;
  box-sizing: border-box;
}
.wrapper section .alipay h1 {
  float: left;
}
.wrapper section .alipay h1 img {
  width: 25px;
  height: auto;
  background: none;
  margin-right: 10px;
}
.wrapper section .alipay p {
  float: right;
}
.wrapper section .alipay p img {
  width: 25px;
  height: auto;
  background: none;
}
.wrapper section .submit {
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 20px;
}
.wrapper section .submit button {
  width: 100%;
  height: 3rem;
  background: #ff7f1d;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
}
